WARP_CLIENT_URI=
BANNER_CLIENT_URI=
INVENTORY_CLIENT_URI=
CHARACTER_CLIENT_URI=
WEAPON_CLIENT_URI=
SHOP_CLIENT_URI=

KAFKA_SERVER=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
