# Maven / Java
target/
*.jar
*.war

# Version Control & Logs
.git/
.gitignore
*.log

# IDE Configuration
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.springBeans
.sts4-cache
.apt_generated

# Other
.DS_Store
Thumbs.db
.env
data/
